@import url('index.css');

#down-header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
#image-container{
    flex: 1;
}
#info-container{
    flex: 6;
    margin-left: 1%;
}
#info-container-up{
   border-bottom: 2px dotted white;
}
.container-flex-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
#name-info span{
    color: var(--titles-color);
}
.special-text{
    font-family: var(--second-font);
}
#btn-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -10px;
    height: 20px;
    width: 70%;
    margin: -10px auto 0 auto;
    border-left: 6px solid var(--header-border-color);
    border-right: 6px solid var(--header-border-color);
}
#btn-change-data{
   margin-top: 10px;
   padding-top: 5px;
   margin-right: 2%;
   width: 80px;
   height: 30px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   background-color: var(--titles-color);
   cursor: pointer;
   border: none;
}
#btn-change-data:focus{
    outline: none;
}
#btn-change-data:active{
    box-shadow: 2px 2px 2px #f39a5f77;
}
#btn-change-data i{
    transform: scale(1.5);
    color: var(--body-background-color);
    
}
