@import url('index.css');

#up-header{
    margin-top: -15px;
    margin-bottom: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
}
.item-social{
    color: var(--text-color);
    transform: scale(1.5);
    transition: all .25s;
}
.item-social:hover{
    transform: scale(2);
    vertical-align: top;
}
#social-header-container{
    flex: 1;
    padding: 20px;
}
.item-social-container{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--border-menu-color);
    border-radius: 5px;
}
#social-header-container div:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu-header-container{
    flex: 4;
}
#menu-header-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-header-container ul li{
    flex: 1;
    padding: 10px;
    border-left:3px solid var(--border-menu-color);
    cursor: pointer;
}
#menu-header-container ul li:hover{
    border-left:3px solid var(--text-color);
}