@media (max-width: 800px) 
{
    footer{
        flex-direction: column;
    }
    .only-mobile{
        display: block;
    }
    .bigSmall.true{
        opacity: 1;
    }
    .bigSmall.true ~ .right-main-container{
        opacity: .1;
        pointer-events: none;
    }
    .main-container{
        position: relative;
    }
    
    .left-main-container{
        position: absolute;
        opacity: 0;
        width: 150px;
        top: 25px;
    }
    .text-below{
        display: none;
    }
    .text-hidden{
        display: block;
    }
    #up-header{
        flex-direction: column;
    }
    #social-header-container{
        width: 200px;
    }
    /* La parte comentada se debe habilitar para que funcione el botón para ocultar */
    /* #social-header-container{
        position: absolute;
        transition: transform .5s, opacity .10s;
        transform: translate(-200px);
        opacity: 0;
    }
    #menu-header-container{
        height: 80px;
    } */
}