@import url('index.css');

#toggle-social{
    position: relative;
    height: inherit;
    background-color:var(--text-color);
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.toggle-social-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: var(--titles-color);
}
#check-header{
    opacity: 0;
}
#check-header:checked ~ .fa-caret-right{
    display: none;
}
#check-header:not(:checked) ~ .fa-caret-left{
    display: none;
}
/* La parte comentada se debe habilitar para que funcione el botón para ocultar */
/* #social-header-container.true{
    transform: translate(0px);
    opacity: 1;
    position: relative;
} */