@import url('index.css');

#portfolio-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container-page{
    margin: 10px;
    position: relative;
    text-align: center;
}
.img-page{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid var(--text-color-second);
    z-index: 2;
    position: relative;
    transition: all .5s;
}
.img-page:hover{
    box-shadow:  10px 10px 20px 2px  rgba(242,173,100,1);
    opacity: .1;
    transform: translate(-5px, -5px);
}
.text-below{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.text-hidden{
    display: none;
}