<h1 class="to-upper">sobre mí</h1>
<hr id="line">
<div class="main-container">
    <p id="about-text">
        Hola mi nombre es Jonay Zevenzui Castro Suárez, y aunque siempre me he dedicado a trabajos como técnico bien de ascensores 
        bien de electricidad,
        desde hace algún tiempo estoy intentando dedicarme a lo que de verdad me gusta que es la programación en general,
        ya sean aplicaciones android o algún pequeño trabajo con arduino,y el desarrollo web en particular.
        He llevado a cabo algunos proyectos personales como los que se pueden ver en la sección <a href ng-click="goPortfolio()">portfolio.</a>
    </p>
</div>