<h1 class="to-upper">sobre mí</h1>
<hr id="line">
<div class="main-container">
    <p id="about-text">
        Desde el año 2006 he trabajado en empresas de reparación y montaje de aparatos elevadores, unas veces como asalariado y otras como autónomo, pero desde siempre mi afición ha sido la informática y la electrónica, así que en 2013 empecé a interesarme por la programación. 
        En un pricipio aprendí Python, lenguanje con el que pude comprender, gracias a su facil sintaxis, la base de la programación. 
        De Python me pasé a Java, ya que quería poder escribir aplicaciones para android. 
        Despues llegó MySql, AngularJs y otros como C++, ya que como dije al inicio también me gusta la electrónica, y con este lenguaje puedo programar para arduino. 
        Siempre he aprendido de forma autodidacta, buscando en foros, leyendo articulos, libros, y sobre todo mediante video tutoriales de YouTube.
        En la actualidad, estoy realizando un curso de programador Front-End en TokioSchool, ya que creo que ha llegado el momento de plantearme cambiar de gremio e intentar meterme en esto de la programación de forma profesional. 
        Como trabajador, creo que mas alla de mis conocimentos, puedo aportar mucha perseverancia y constancia. 
        No quieres ver alguno de los proyectos personales con los que aprendo 
        cosas nuevas y las pongo en práctica, pasate por mi <a href rel="nofollow" ng-click="goPortfolio()">portfolio,</a>
        y tendrás una pequeña muestra
        . También tengo una cuenta en <a rel="nofollow" href="https://www.linkedin.com/in/jonaycastro/">GitHub</a> con mas proyectos.
    </p>
</div>