<h1 class="to-upper">experiencia</h1>
<div class="main-container" ng-controller="sperienceController">
    <div class="only-mobile">
        <input type="checkbox" name="hide-menu" ng-click="check = !check" class="check-select position" checked>
        <i class="fas fa-bars position"></i>
        <i class="fa fa-times position"></i>
    </div>
    <div class="left-main-container bigSmall" ng-class="check">
        <ul>
            <li ng-click="setCriterio('', 'Todo')">Todo</li>
            <li ng-click="setCriterio('ajena', 'Cuenta Ajena')">Cuenta Ajena</li>
            <li ng-click="setCriterio('autonomo', 'Cuenta Propia')">Autónomo</li>
            <li ng-click="setCriterio('otro', 'Otros Contratos')">Otros</li>
        </ul>
    </div>
    <div class="right-main-container" id="scroll-main-container">
        <div class="right-main-section" >
            <h2>{{title}}</h2>
            <ul class="main-list">
                <li ng-repeat="linea in experience | filter:linea.tipo=criterio">
                    <h3>Titulo: <span class="item-name to-capitalize">{{linea.titulo}}</span></h3>
                    <ul>
                        <li>Inicio: <span class="to-capitalize dat-text">{{linea.inicioContrato}}</span></li>
                        <li>Fin: <span class="to-capitalize dat-text">{{linea.finContrato}}</span></li>
                        <li>Empresa: <span class="to-capitalize dat-text">{{linea.empresa}}</span></li>
                        <li>Categoría: <span class="to-capitalize dat-text">{{linea.puesto}}</span></li>
                        <li>Personal a Cargo: <span class="to-capitalize dat-text">{{linea.personalAcargo}}</span></li>
                        <li>Funciones: <span class="to-capitalize dat-text">{{linea.funciones}}</span></li>
                        <li>Observaciones: <span class="to-capitalize dat-text">{{linea.comentario}}</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</div>