<h1 class="to-upper">experiencia</h1>
<div class="main-container" ng-controller="sperienceController">
    <div class="left-main-container">
        <ul>
            <li ng-click="goTo('ajena')">Cuenta Ajena</li>
            <li ng-click="goTo('autonomo')">Autónomo</li>
            <li ng-click="goTo('otros')">Otros</li>
        </ul>
    </div>
    <div class="right-main-container" id="scroll-main-container">
        <div class="right-main-section">
            <h2 id="ajena">Cuenta Ajena</h2>
            <ul class="main-list">
                <li ng-repeat="linea in ajeno">
                    <h3>Titulo: <span class="item-name to-capitalize">{{linea[0]}}</span></h3>
                    <ul>
                        <li>Inicio: <span class="to-capitalize">{{linea[1]}}</span></li>
                        <li>Fin: <span class="to-capitalize">{{linea[2]}}</span></li>
                        <li>Empresa: <span class="to-capitalize">{{linea[3]}}</span></li>
                        <li>Categoría: <span class="to-capitalize">{{linea[4]}}</span></li>
                        <li>Observaciones: <span class="to-capitalize">{{linea[5]}}</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right-main-section">
            <h2 id="autonomo">Autónomo</h2>
            <ul class="main-list">
                <li ng-repeat="linea in autonomo">
                    <h3>Titulo: <span class="item-name to-capitalize">{{linea[0]}}</span></h3>
                    <ul>
                        <li>Inicio: <span class="to-capitalize">{{linea[1]}}</span></li>
                        <li>Fin: <span class="to-capitalize">{{linea[2]}}</span></li>
                        <li>Empresa: <span class="to-capitalize">{{linea[3]}}</span></li>
                        <li>Categoría: <span class="to-capitalize">{{linea[4]}}</span></li>
                        <li>Observaciones: <span class="to-capitalize">{{linea[5]}}</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right-main-section">
            <h2 id="otros">Otros</h2>
            <ul class="main-list">
                <li ng-repeat="linea in otros">
                    <h3>Titulo: <span class="item-name to-capitalize">{{linea[0]}}</span></h3>
                    <ul>
                        <li>Inicio: <span class="to-capitalize">{{linea[1]}}</span></li>
                        <li>Fin: <span class="to-capitalize">{{linea[2]}}</span></li>
                        <li>Empresa: <span class="to-capitalize">{{linea[3]}}</span></li>
                        <li>Categoría: <span class="to-capitalize">{{linea[4]}}</span></li>
                        <li>Observaciones: <span class="to-capitalize">{{linea[5]}}</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>