<h1 class="to-upper">portfolio</h1>
<div id="portfolio-container" ng-controller="portfolioController">
    <div class="container-page" ng-repeat="enlace in portfolio">
        <p class="text-hidden">{{enlace.hideText}}</p>
        <p class="text-below">{{enlace.hideText}}</p>
        <a class="link-page" ng-href="{{enlace.url}}" target="_blank" rel="noopener noreferrer">
            <img class="img-page" ng-src="{{enlace.pathImg}}" alt="{{enlace.altText}}" title="{{enlace.imgTitle}}">
        </a>
    </div>
</div>